/******************************************************************************
 * Content
 ******************************************************************************/

 body {
  font-family: 'Times New Roman', Times, serif !important;
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}


.full-width-image {
  width: 100%;
  text-align: left;
  margin: 0; /* Ensure no margin around the image */
}

.full-width-img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

/* Make the main content responsive */
.responsive-content {
  width: 100%;
  max-width: 100%; /* Remove any fixed max width */
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 20px; /* Add padding for readability */
}

/* Ensure that the profile image and text also resize */
.profile img {
  max-width: 100%;
  height: auto; /* Keep aspect ratio */
}

.clearfix {
  clear: both;
}

.post-header, .post-title, p {
  width: 100%; /* Make sure text spans the width of the screen */
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
